	*{
		margin: 0px;
		padding: 0px;
		text-decoration: none;
		font-family:sans-serif;
	}

    body {		
		background-color: black;
		margin:0 auto;
    }
    
	@media (min-width: 992px) {
		#canvas{
		  position:absolute;
		  width:40%;
		  height:auto;
		  padding: 30px, 20px;
		  top:60%;
		  left:50%;
		  transform: translate(-50%,-50%);
		  border-radius: 15px;
		  overflow: hidden;
		}
	}